/*=====START=====*/

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* body {
  min-width: 360px;
  border: 1px solid red;
} */

@font-face {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  src: url("../fonts/OpenSans-Bold.ttf");
  src: url(../fonts/OpenSans-Bold.woff);
  src: url(../fonts/OpenSans-Bold.woff2);
}

@font-face {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  src: url(../fonts/OpenSans-Regular.ttf);
  src: url(../fonts/OpenSans-Regular.woff);
  src: url(../fonts/OpenSans-Regular.woff2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*=====Mobile first=====*/

/* =======POPUP======= */
.popup-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);

  /* display: none; */
}

.popup {
  position: relative;
  width: 331px;
  padding: 30px 25px;
  background-color: #ffffff;
}

.popup-text-hidden {
  display: none;
}

.popup-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 29px;
}

.popup-title-text {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  /* font-size: 16px; */
  font-size: calc(0.49vw + 14.2px);
  color: #0f0d0e;

  text-decoration: none;
  text-transform: uppercase;
}

.popup-title::after {
  content: " ";
  width: 67px;
  height: 3px;
  background-color: #e1d9bd;
  margin-top: 14px;
}

.popup-list {
  margin-bottom: 35px;
}

.popup-list-title {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 10px;
}

.popup-select-box {
  position: relative;
}

.popup-select {
  width: 100%;
  padding: 18px 15px 15px 19px;
  outline: none;
  border: none;
  background-color: #f4f7f6;
}

.select-item {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #818382;
}

.popup-arrows {
  position: absolute;
  right: 4px;
  top: 15px;
  width: 20px;
  height: 16px;
  background-color: #f4f7f6;
}

.popup-subscription-text {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 10px;
}

.popup-about-content {
  margin-bottom: 27px;
}

.popup-about-text {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 10px;
}

.popup-about-textarea {
  min-width: 275px;
  max-width: 275px;
  min-height: 70px;
  height: 130px;
  max-height: 130px;
  padding: 21px;
  border: none;
  outline: none;
  background-color: #f4f7f6;

  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #797a7a;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  border: none;
  outline: none;
  background-color: #b59f5b;
}

.button:hover {
  background-color: #323232;
}

.button-text {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.popup-btn-close {
  width: 17px;
}

.popup-btn {
  position: absolute;
  right: 0;
  top: -26px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

/* ===========POPUP-INPUT-RADIO======== */

.radio-container {
  display: flex;
  margin-bottom: 32px;
}

.radio-box {
  position: relative;
}

.radio-box-second {
  margin-left: 10px;
}

.radio-input {
  appearance: none;
  position: absolute;
}

.radio-text {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 13px;

  margin-left: 21px;
  cursor: pointer;
  color: #000000;
}

.radio-text:before {
  content: "";
  display: block;
  position: absolute;
  width: 17px;
  height: 17px;
  border: 1px solid #b59f5b;
  border-radius: 50%;

  z-index: 1;
}

.radio-text:after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 3.5px;
  left: 3.5px;
  background-color: #b59f5b;
  border-radius: 50%;
  z-index: 2;
  opacity: 0;
}

.radio-input:checked + .radio-text:before {
  background-color: #ffffff;
}

.radio-input:checked + .radio-text:after {
  opacity: 1;
}

/* ===============HEADER=========== */

.header {
  position: relative;
  min-width: 360px;
  height: 640px;
  padding: 30px 16px 0 16px;
  margin: 0 auto;
  background-image: url("../images/banner-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: 0;
}

.header::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.menu-container {
  display: block;
}

.menu-list-items {
  display: none;
  /* display: flex;
  justify-content: space-between;

  text-decoration: none;
  list-style-type: none; */
}

.menu-link:hover {
  text-decoration: underline;
}

.menu-burger-conteaner {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 174px;
}

.button-burger {
  height: 19px;
  background-color: #666660;
  border: none;
  outline: none;
}

.burger-item {
  fill: #ffffff;
}

.menu-logo {
  display: flex;
  justify-content: center;
  margin: 0px 30px 42px 30px;
}

.logotipe {
  width: 269px;
  height: 61px;

  fill: #b59f5b;
  fill: #fff;
}

.menu-contant {
  padding: 0px 24px 0px 30px;
  min-height: 94px;

  margin-bottom: 217px;
}

.menu-contant-text {
  color: #ffffff;
  /* font-size: 25px; */
  font-size: calc(3.5vw + 13px);
  text-transform: uppercase;
  line-height: 36px;
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: calc(3.8vw + 22.3px);
}

/* ======TRANDS===== */

.trends {
  min-width: 360px;
  display: block;
  position: relative;
  z-index: -1;
}

.now-trends {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.trends-title {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  /* font-size: 16px; */
  font-size: calc(0.49vw + 14.2px);
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;
}

.now-trends::after {
  display: block;
  content: " ";
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
  margin-top: 11px;
  margin-bottom: 24px;
}

.trends-box {
  display: flex;
  flex-direction: column;

  /* border: 3px solid blue; */
}

.trends-items {
  display: flex;
  align-items: flex-end;
  min-height: 231px;
  margin-bottom: 2px;
  padding: 0px 15px 15px 15px;

  /* border: 3px solid black; */
}

.trends-items:nth-of-type(4) {
  margin-bottom: 0px;
}

.trends-items-contant {
  min-height: 50px;
  flex-grow: 1;
  padding: 33px 20px 30px;

  border: 4px solid #716137;
}

.wrapper-trand-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.trands-category {
  display: flex;
  list-style-type: none;
}

.trands-links {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #b59f5b;
  margin-right: 20px;
  text-decoration: none;
}

.trands-links:hover {
  color: #b59f5b;
  text-decoration: underline;
}

.trands-items-title {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 20px;
  color: #ffffff;
}

.lifestyle {
  background-image: url(../images/trend1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.lifestyle::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.food {
  background-image: url(../images/trend2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.food::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.travel {
  background-image: url(../images/trend3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.travel::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.health {
  background-image: url(../images/trend4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.health::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

/* ====MAIN==== */

/* ====ARTICLE==== */
.main {
  min-width: 360px;
  padding: 44px 15px 0px 15px;
}

.main-article-box {
  margin-bottom: 3px;
  padding-bottom: 22px;
}

.article-box-image {
  width: 100%;
}

.article-box-nav {
  margin-top: 16px;
  margin-bottom: 16px;
}

.article-box-row {
  display: flex;
  list-style-type: none;
}

.link {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #b59f5b;
  text-decoration: none;
  margin-right: 19px;
}
/* Разве в мобильной версии нужно указывать hover эффект? */
.link:hover {
  text-decoration: underline;
  color: #b59f5b;
}

.box-title-text {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #0f0d0e;
  text-decoration: none;
}

.box-title-text:hover {
  color: #c9b987;
}

.article-box-data {
  display: flex;
  margin-top: 24px;
  margin-bottom: 23px;
}

.box-data-number {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #989898;
  margin-right: 14px;
}

.box-data-author {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
  text-decoration: none;
}

.box-text-contant {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #0f0d0e;
  text-decoration: none;
}

/* ====ASIDE==== */

.main-aside {
  min-width: 330px;
  margin-top: 44px;
}

.latest-posts-text {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  /* font-size: 16px; */
  font-size: calc(0.49vw + 14.2px);
  color: #0f0d0e;

  text-decoration: none;
  text-transform: uppercase;
}

.latest-posts-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 29px;
}

.latest-posts-title::after {
  content: " ";
  width: 67px;
  height: 3px;
  background-color: #e1d9bd;
  margin-top: 14px;
}

.latest-posts-box {
  margin-bottom: 22px;
}

.latest-posts-box.box {
  margin-bottom: 100px;
}

.latest-posts-container {
  display: flex;
}

.latest-posts-contant {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 19px;
}

.latest-posts-data {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #7e7e7e;
}

.latest-posts-link {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

/* ====SEARCH===== */
.search {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 44px;
}

.search-input {
  width: 100%;
  min-height: 48px;
  padding-left: 19px;
  background-color: #f4f7f6;
  border: none;
  outline: none;
}

.search-input:focus {
  border: 1px solid #b59f5b;
}

.search-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
}
/* Стиль ховер добавил от себя для наглядности */
.search-image-box:hover {
  background-color: #827810;
}

.search-image-glass {
  width: 18px;
  height: 18px;
}

/* =====SUBSCRIBE===== */
.subscribe {
  margin-bottom: 44px;
}

.subscribe-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 23px;
}

.subscribe-title::after {
  content: " ";
  width: 67px;
  height: 3px;
  background-color: #e1d9bd;
  margin-top: 14px;
}

.subscribe-title-text {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-size: calc(0.49vw + 14.2px);
  color: #0f0d0e;
  text-transform: uppercase;
}

.subscribe-input {
  width: 100%;
  margin-bottom: 17px;
}

.subscribe-input-email {
  width: 100%;
  min-height: 48px;
  outline: none;
  border: none;
  padding-left: 19px;
  background-color: #f4f7f6;
}

.subscribe-input-email:focus {
  border: 1px solid #b59f5b;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 49px;
  background-color: #b59f5b;
  outline: none;
  border: none;
}
/* Стиль ховер добавел от себя для наглядности  */
.subscribe-button:hover {
  background-color: #827810;
}

.subscribe-button-text {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

/* =====TAGS====== */
.tags {
  margin-bottom: 44px;
}

.tags-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.tags-title::after {
  content: " ";
  width: 67px;
  height: 3px;
  background-color: #e1d9bd;
  margin-top: 14px;
}

.tags-title-text {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-size: calc(0.49vw + 14.2px);
  color: #0f0d0e;
  text-transform: uppercase;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.tags-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 13px;
  border: 3px solid #eeeeee;
  margin-right: 5px;
  margin-bottom: 5px;
}

.tags-box:hover {
  border: 3px solid #b59f5b;
}

.tags-contant-text {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #0f0d0e;
  text-transform: uppercase;
  text-decoration: none;
}
/* =====CATEGORIES====== */
.categories {
  margin-bottom: 44px;
}

.categories-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories-title::after {
  content: " ";
  width: 67px;
  height: 3px;
  background-color: #e1d9bd;
  margin-top: 14px;
}

.categories-title-text {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-size: calc(0.49vw + 14.2px);
  color: #0f0d0e;
  text-transform: uppercase;
}

.categories-row {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.categories-link {
  height: 48px;
  list-style-type: none;
}

.categories-link::after {
  content: "";
  display: block;
  margin-top: 14px;
  width: 100%;
  height: 1px;
  background: #eeeeee;
}

.categories-link-text {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.categories-link-number {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #b59f5b;
  vertical-align: top;
}

/* =====SHOP====== */

.shop {
  min-width: 360px;
  margin-bottom: 43px;
}

.shop-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 27px;
}

.shop-title::after {
  content: " ";
  width: 67px;
  height: 3px;
  background-color: #e1d9bd;
  margin-top: 14px;
}

.shop-title-text {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #0f0d0e;
  text-transform: uppercase;
}

.shop-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-img {
  margin-bottom: -32px;
}

.shop-box:nth-child(1),
.shop-box:nth-child(2) {
  margin-bottom: 26px;
}

.shop-content-box {
  width: 100%;
  padding: 55px 22px 28px 22px;
  border: 3px solid #d3c59d;
}

.shop-content-title {
  margin-bottom: 8px;
}

.shop-content-text {
  margin-bottom: 24px;
}

.shop-content-title-text {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #0f0d0e;
  text-transform: uppercase;
}

.shop-content-text-main {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #0f0d0e;
}

.shop-content-text-main:hover {
  color: #9f9e9f;
}

.shop-content-text-link {
  color: #baa667;
}

.shop-box-nested {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.shop-content-price {
  display: flex;
  flex-direction: column;
}

.first-price {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #0f0d0e;
  text-decoration: line-through;
}

.second-price {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #0f0d0e;
}

.shop-content-button {
  outline: none;
  border: none;
  min-width: 140px;
  min-height: 48px;
  background-color: #b59f5b;
}

.shop-button-text {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.shop-content-button:hover {
  border: 2px solid #b59f5b;
  background-color: #827810;
}

.second-shop-content-text-link {
  color: #baa667;
  text-decoration: none;
}

.second-box-price {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

/* =====FOOTER==== */
.footer {
  min-width: 360px;
  padding: 0px 15px;
}

.social-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 48px;
  background-color: #f4f7f6;
}

.social-row {
  display: flex;
  justify-content: space-between;
  min-width: 110px;
}

.social-icon-link {
  text-decoration: none;
}

.social-image {
  width: 20px;
}

.copyrights-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110px;
}

.copyrights-text {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #a7a7a7;
  text-decoration: none;
}

/* ========================TABLET======================== */

@media (min-width: 768px) {
  /*===== HRADER===== */
  .header {
    padding: 43px 35px 0 35px;
    min-height: 392px;
    background-image: url(../images/banner-bg-tablet.jpg);
  }

  .menu-container-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 36px;
    margin-bottom: 103px;
  }

  .menu-burger-conteaner {
    order: 1;
    margin: 0;
    background-color: #41504d;
  }

  .menu-logo {
    width: 158px;
    order: -1;
    margin: 0px;
  }

  .menu-contant {
    margin: 0px;
  }

  .menu-contant-text {
    font-size: 40px;
    line-height: 55px;
  }

  /* =====MAIN====== */
  .main {
    display: flex;
    padding: 50px 35px 0 35px;
  }

  .main-article {
    margin-right: 35px;
  }

  .main-article-box {
    margin-bottom: 41px;
  }
  /* =====TRENDS===== */

  .trends-box {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .trends-items {
    width: calc(50% - 2px);
    margin-right: 2px;
  }

  .trends-items-title {
    font-size: calc(0.69 + 12px);
  }

  /* ====ASIDE===== */

  .main-aside {
    margin: 0px;
    min-width: 271px;
  }

  .latest-posts-text {
    font-size: 14px;
  }

  .subscribe-title-text {
    font-size: 14px;
  }

  .tags-title-text {
    font-size: 14px;
  }

  .categories-title-text {
    font-size: 14px;
  }

  /* =====SHOP==== */

  .shop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .shop-box {
    width: 48.5%;
  }

  .shop-content-box {
    flex-grow: 1;
  }

  .shop {
    padding-right: 35px;
    padding-left: 35px;
  }

  .footer {
    padding-right: 35px;
    padding-left: 35px;
  }
}

/* ========================DDESCTOP======================== */
@media (min-width: 1200px) {
  .header {
    height: 460px;
    background-position: top;
    background-image: url(../images/banner-bg.jpg);
  }

  .menu-logo {
    margin-left: 5px;
    width: 180px;
  }

  .menu-container {
    max-width: 1200px;
    margin: 0px auto;
  }

  .menu-contant {
    padding: 0px;
    margin: 0px 244px;
  }

  .menu-list-items {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
  }

  .menu-link {
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    margin-left: 33px;
  }

  .menu-link-last-item {
    margin-right: 25px;
  }

  .menu-burger-conteaner {
    display: none;
  }

  .menu-contant-text {
    line-height: 75px;
  }

  /* ====TRENDS===== */

  .trends-box {
    flex-wrap: nowrap;
  }

  .trends-items {
    width: calc(25% - 4px);
    margin-right: 4px;
    min-height: 320px;
  }

  .trands-items-title {
    font-size: 20px;
    line-height: 24px;
  }

  /* ====MAIN===== */

  .main {
    margin: 0px auto;
    max-width: 1200px;
  }

  .main-article {
    margin-right: 125px;
  }

  .main-article-box {
    display: flex;
  }

  .article-box-image {
    max-width: 382px;
    margin-right: 27px;
  }

  .article-box-nav {
    margin-top: 0px;
  }

  .article-box-data {
    margin-bottom: 52px;
  }

  .shop-title-text {
    font-size: 20px;
  }

  /* ======SHOP====== */
  .shop {
    max-width: 1200px;
    margin: 0px auto;
  }

  .shop-container {
    flex-wrap: nowrap;
  }

  .shop-box {
    width: calc(33% - 66px);
  }

  .shop-box:nth-child(1),
  .shop-box:nth-child(2),
  .shop-box:nth-child(3) {
    margin-bottom: 64px;
  }

  .shop-content-title-text {
    font-size: 20px;
  }

  /* ========FOOTER=========== */

  .footer {
    max-width: 1200px;
    margin: 0px auto;
  }
}

/* ===================Mobile-landscape==================== */
@media (orientation: portrait) and (min-width: 641px) and (max-width: 1199px) {
  /* =====TRENDS===== */
  .trends-box {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .trends-items {
    width: calc(50% - 2px);
    margin-right: 2px;
  }

  .trends-items-title {
    font-size: calc(0.69 + 12px);
  }

  .trends-items-contant {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (orientation: landscape) and (min-width: 641px) and (max-width: 1199px) {
  .trends-items {
    width: calc(25% - 2px);
    margin-right: 2px;
  }

  .trends-box {
    flex-direction: row;
  }

  .trends-items-contant {
    padding: 5px;
  }

  .trands-links {
    font-size: 2vh;
  }

  .trands-items-title {
    font-size: 2vh;
  }

  .trands-category {
    flex-wrap: wrap;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .trends-box {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .trends-items {
    width: calc(50% - 2px);
    margin-right: 2px;
  }

  .trends-items-title {
    font-size: calc(0.69 + 12px);
  }

  .trends-items-contant {
    padding-left: 5px;
    padding-right: 5px;
  }
}
